#!/bin/bash
cd /terraform
echo "======= PUBLIC IP ADDRESSES ==================="
terraform output -no-color 2>&1 | tee -a /terraform/logs/terraform-ipaddresses.log
echo ""



echo "======= SSH Access ===================="
echo "Protocol: SSH with publickey authentication"
echo "Server:   `terraform output linux-vm_public_ip -no-color`"
echo ""
echo "Password: see ssh private key below"
echo "Command:  ssh -i ~/.ssh/id_rsa admin@`terraform output linux-vm_public_ip -no-color`"
echo ""
echo "======= SSH PRIVATE KEY ==============="
echo ""
cat /terraform/modules/linux-vm/id_rsa
echo ""

echo "======= RDP Access ==============="
echo "Protocol: RDP with username/password authentication"
echo "Server: `terraform output win-vm_public_ip -no-color`"
cat /tmp/credentials.txt
echo ""
