nav#sidebarMenu.col-md-3.col-lg-2.d-md-block.bg-light.sidebar.collapse
    div.sidebar-sticky.pt-3
        ul.nav.flex-column
            li.nav-item
                a.nav-link(href='/tool/deploy')
                    include ../icons/deploy
                    | Deploy
            li.nav-item
                a.nav-link(href='/tool/destroy')
                    include ../icons/destroy
                    | Destroy
            li.nav-item
                a.nav-link(href='/tool/log')
                    include ../icons/log
                    | Log
            li.nav-item
                a.nav-link(href='/tool/ipaddresses')
                    include ../icons/ipaddresses
                    | IP Addresses
            li.nav-item
                a.nav-link(href='/config')
                    | Configure
            li.nav-item
                a.nav-link(href='/site/readme')
                    | Readme
            li.nav-item
                a.nav-link(href='/site/about')
                    | About
